$bdx : #3E0018;
$red : #88002D;
$vlt: #885C7E;
$wht: #FFFFFF;
$blk : #000000;

// ----------------------------------------------------------------

$padStyle : 20px 80px;
// $bg1 : "../images/red-wine.jpg";

